@import "variables";

@font-face {
    font-family: 'Presslabs-Particles-V42';
    src:    url('#{$icomoon-font-path}/Presslabs-Particles-V42.eot?rkbhr');
    src:    url('#{$icomoon-font-path}/Presslabs-Particles-V42.eot?rkbhr#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/Presslabs-Particles-V42.ttf?rkbhr') format('truetype'),
        url('#{$icomoon-font-path}/Presslabs-Particles-V42.woff?rkbhr') format('woff'),
        url('#{$icomoon-font-path}/Presslabs-Particles-V42.svg?rkbhr#Presslabs-Particles-V42') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Presslabs-Particles-V42' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pl-arrow-up {
    &:before {
        content: $pl-arrow-up;
    }
}
.pl-arrow-ne {
    &:before {
        content: $pl-arrow-ne;
    }
}
.pl-arrow-right {
    &:before {
        content: $pl-arrow-right;
    }
}
.pl-arrow-se {
    &:before {
        content: $pl-arrow-se;
    }
}
.pl-arrow-down {
    &:before {
        content: $pl-arrow-down;
    }
}
.pl-arrow-sw {
    &:before {
        content: $pl-arrow-sw;
    }
}
.pl-arrow-left {
    &:before {
        content: $pl-arrow-left;
    }
}
.pl-arrow-nw {
    &:before {
        content: $pl-arrow-nw;
    }
}
.pl-return {
    &:before {
        content: $pl-return;
    }
}
.pl-concentric {
    &:before {
        content: $pl-concentric;
    }
}
.pl-eccentric {
    &:before {
        content: $pl-eccentric;
    }
}
.pl-cicle {
    &:before {
        content: $pl-cicle;
    }
}
.pl-contract {
    &:before {
        content: $pl-contract;
    }
}
.pl-expand {
    &:before {
        content: $pl-expand;
    }
}
.pl-meeting {
    &:before {
        content: $pl-meeting;
    }
}
.pl-departing {
    &:before {
        content: $pl-departing;
    }
}
.pl-pointer {
    &:before {
        content: $pl-pointer;
    }
}
.pl-arrow {
    &:before {
        content: $pl-arrow;
    }
}
.pl-right {
    &:before {
        content: $pl-right;
    }
}
.pl-down {
    &:before {
        content: $pl-down;
    }
}
.pl-left {
    &:before {
        content: $pl-left;
    }
}
.pl-up {
    &:before {
        content: $pl-up;
    }
}
.pl-rewind {
    &:before {
        content: $pl-rewind;
    }
}
.pl-forward {
    &:before {
        content: $pl-forward;
    }
}
.pl-pause {
    &:before {
        content: $pl-pause;
    }
}
.pl-stop {
    &:before {
        content: $pl-stop;
    }
}
.pl-rec {
    &:before {
        content: $pl-rec;
    }
}
.pl-plus {
    &:before {
        content: $pl-plus;
    }
}
.pl-minus {
    &:before {
        content: $pl-minus;
    }
}
.pl-times {
    &:before {
        content: $pl-times;
    }
}
.pl-divide {
    &:before {
        content: $pl-divide;
    }
}
.pl-equal {
    &:before {
        content: $pl-equal;
    }
}
.pl-calculator {
    &:before {
        content: $pl-calculator;
    }
}
.pl-curve {
    &:before {
        content: $pl-curve;
    }
}
.pl-graphic {
    &:before {
        content: $pl-graphic;
    }
}
.pl-pie {
    &:before {
        content: $pl-pie;
    }
}
.pl-upload {
    &:before {
        content: $pl-upload;
    }
}
.pl-upload2 {
    &:before {
        content: $pl-upload2;
    }
}
.pl-download {
    &:before {
        content: $pl-download;
    }
}
.pl-download2 {
    &:before {
        content: $pl-download2;
    }
}
.pl-login {
    &:before {
        content: $pl-login;
    }
}
.pl-logout {
    &:before {
        content: $pl-logout;
    }
}
.pl-mark {
    &:before {
        content: $pl-mark;
    }
}
.pl-validate {
    &:before {
        content: $pl-validate;
    }
}
.pl-deny {
    &:before {
        content: $pl-deny;
    }
}
.pl-edit {
    &:before {
        content: $pl-edit;
    }
}
.pl-write {
    &:before {
        content: $pl-write;
    }
}
.pl-look {
    &:before {
        content: $pl-look;
    }
}
.pl-time {
    &:before {
        content: $pl-time;
    }
}
.pl-search {
    &:before {
        content: $pl-search;
    }
}
.pl-zoom-in {
    &:before {
        content: $pl-zoom-in;
    }
}
.pl-zoom-out {
    &:before {
        content: $pl-zoom-out;
    }
}
.pl-bullseye {
    &:before {
        content: $pl-bullseye;
    }
}
.pl-forbidden {
    &:before {
        content: $pl-forbidden;
    }
}
.pl-info {
    &:before {
        content: $pl-info;
    }
}
.pl-caution {
    &:before {
        content: $pl-caution;
    }
}
.pl-question {
    &:before {
        content: $pl-question;
    }
}
.pl-check {
    &:before {
        content: $pl-check;
    }
}
.pl-denied {
    &:before {
        content: $pl-denied;
    }
}
.pl-users {
    &:before {
        content: $pl-users;
    }
}
.pl-user {
    &:before {
        content: $pl-user;
    }
}
.pl-employee {
    &:before {
        content: $pl-employee;
    }
}
.pl-boss {
    &:before {
        content: $pl-boss;
    }
}
.pl-admin {
    &:before {
        content: $pl-admin;
    }
}
.pl-heart {
    &:before {
        content: $pl-heart;
    }
}
.pl-heart-full {
    &:before {
        content: $pl-heart-full;
    }
}
.pl-star {
    &:before {
        content: $pl-star;
    }
}
.pl-star-full {
    &:before {
        content: $pl-star-full;
    }
}
.pl-book {
    &:before {
        content: $pl-book;
    }
}
.pl-bookmark {
    &:before {
        content: $pl-bookmark;
    }
}
.pl-calendar {
    &:before {
        content: $pl-calendar;
    }
}
.pl-power-plug {
    &:before {
        content: $pl-power-plug;
    }
}
.pl-power-socket {
    &:before {
        content: $pl-power-socket;
    }
}
.pl-ethernet-plug {
    &:before {
        content: $pl-ethernet-plug;
    }
}
.pl-ehternet-socket {
    &:before {
        content: $pl-ehternet-socket;
    }
}
.pl-usb-plug {
    &:before {
        content: $pl-usb-plug;
    }
}
.pl-usb-socket {
    &:before {
        content: $pl-usb-socket;
    }
}
.pl-media {
    &:before {
        content: $pl-media;
    }
}
.pl-image {
    &:before {
        content: $pl-image;
    }
}
.pl-camera {
    &:before {
        content: $pl-camera;
    }
}
.pl-music {
    &:before {
        content: $pl-music;
    }
}
.pl-phones {
    &:before {
        content: $pl-phones;
    }
}
.pl-speaker {
    &:before {
        content: $pl-speaker;
    }
}
.pl-cd {
    &:before {
        content: $pl-cd;
    }
}
.pl-glasses {
    &:before {
        content: $pl-glasses;
    }
}
.pl-coffee {
    &:before {
        content: $pl-coffee;
    }
}
.pl-suitcase {
    &:before {
        content: $pl-suitcase;
    }
}
.pl-breifcase {
    &:before {
        content: $pl-breifcase;
    }
}
.pl-map {
    &:before {
        content: $pl-map;
    }
}
.pl-key {
    &:before {
        content: $pl-key;
    }
}
.pl-shirt {
    &:before {
        content: $pl-shirt;
    }
}
.pl-bin {
    &:before {
        content: $pl-bin;
    }
}
.pl-disk {
    &:before {
        content: $pl-disk;
    }
}
.pl-disk2 {
    &:before {
        content: $pl-disk2;
    }
}
.pl-diamond {
    &:before {
        content: $pl-diamond;
    }
}
.pl-cloud {
    &:before {
        content: $pl-cloud;
    }
}
.pl-layout {
    &:before {
        content: $pl-layout;
    }
}
.pl-bulb {
    &:before {
        content: $pl-bulb;
    }
}
.pl-gauge {
    &:before {
        content: $pl-gauge;
    }
}
.pl-home {
    &:before {
        content: $pl-home;
    }
}
.pl-impulse {
    &:before {
        content: $pl-impulse;
    }
}
.pl-keyboard {
    &:before {
        content: $pl-keyboard;
    }
}
.pl-mouse {
    &:before {
        content: $pl-mouse;
    }
}
.pl-laptop {
    &:before {
        content: $pl-laptop;
    }
}
.pl-mobile {
    &:before {
        content: $pl-mobile;
    }
}
.pl-tablet {
    &:before {
        content: $pl-tablet;
    }
}
.pl-lock {
    &:before {
        content: $pl-lock;
    }
}
.pl-lock-open {
    &:before {
        content: $pl-lock-open;
    }
}
.pl-migration {
    &:before {
        content: $pl-migration;
    }
}
.pl-folder {
    &:before {
        content: $pl-folder;
    }
}
.pl-box {
    &:before {
        content: $pl-box;
    }
}
.pl-ribbon {
    &:before {
        content: $pl-ribbon;
    }
}
.pl-ruler {
    &:before {
        content: $pl-ruler;
    }
}
.pl-gears {
    &:before {
        content: $pl-gears;
    }
}
.pl-wrench {
    &:before {
        content: $pl-wrench;
    }
}
.pl-settings {
    &:before {
        content: $pl-settings;
    }
}
.pl-shield {
    &:before {
        content: $pl-shield;
    }
}
.pl-shield-deny {
    &:before {
        content: $pl-shield-deny;
    }
}
.pl-shield-checker {
    &:before {
        content: $pl-shield-checker;
    }
}
.pl-safe {
    &:before {
        content: $pl-safe;
    }
}
.pl-traffic {
    &:before {
        content: $pl-traffic;
    }
}
.pl-watch {
    &:before {
        content: $pl-watch;
    }
}
.pl-wifi {
    &:before {
        content: $pl-wifi;
    }
}
.pl-antenna {
    &:before {
        content: $pl-antenna;
    }
}
.pl-network {
    &:before {
        content: $pl-network;
    }
}
.pl-serving {
    &:before {
        content: $pl-serving;
    }
}
.pl-globestand {
    &:before {
        content: $pl-globestand;
    }
}
.pl-globe {
    &:before {
        content: $pl-globe;
    }
}
.pl-america {
    &:before {
        content: $pl-america;
    }
}
.pl-asia {
    &:before {
        content: $pl-asia;
    }
}
.pl-europe {
    &:before {
        content: $pl-europe;
    }
}
.pl-at {
    &:before {
        content: $pl-at;
    }
}
.pl-envelope {
    &:before {
        content: $pl-envelope;
    }
}
.pl-envelope-open {
    &:before {
        content: $pl-envelope-open;
    }
}
.pl-card {
    &:before {
        content: $pl-card;
    }
}
.pl-link {
    &:before {
        content: $pl-link;
    }
}
.pl-link-broken {
    &:before {
        content: $pl-link-broken;
    }
}
.pl-code {
    &:before {
        content: $pl-code;
    }
}
.pl-code2 {
    &:before {
        content: $pl-code2;
    }
}
.pl-code3 {
    &:before {
        content: $pl-code3;
    }
}
.pl-bug {
    &:before {
        content: $pl-bug;
    }
}
.pl-sheep {
    &:before {
        content: $pl-sheep;
    }
}
.pl-clone {
    &:before {
        content: $pl-clone;
    }
}
.pl-merge {
    &:before {
        content: $pl-merge;
    }
}
.pl-branch {
    &:before {
        content: $pl-branch;
    }
}
.pl-push {
    &:before {
        content: $pl-push;
    }
}
.pl-pull {
    &:before {
        content: $pl-pull;
    }
}
.pl-net {
    &:before {
        content: $pl-net;
    }
}
.pl-spike {
    &:before {
        content: $pl-spike;
    }
}
.pl-cdn {
    &:before {
        content: $pl-cdn;
    }
}
.pl-stack {
    &:before {
        content: $pl-stack;
    }
}
.pl-rack {
    &:before {
        content: $pl-rack;
    }
}
.pl-chip {
    &:before {
        content: $pl-chip;
    }
}
.pl-place {
    &:before {
        content: $pl-place;
    }
}
.pl-like {
    &:before {
        content: $pl-like;
    }
}
.pl-dislike {
    &:before {
        content: $pl-dislike;
    }
}
.pl-facebook-full {
    &:before {
        content: $pl-facebook-full;
    }
}
.pl-facebook {
    &:before {
        content: $pl-facebook;
    }
}
.pl-facebook-hair {
    &:before {
        content: $pl-facebook-hair;
    }
}
.pl-twitter-full {
    &:before {
        content: $pl-twitter-full;
    }
}
.pl-twitter {
    &:before {
        content: $pl-twitter;
    }
}
.pl-twitter-hair {
    &:before {
        content: $pl-twitter-hair;
    }
}
.pl-google-full {
    &:before {
        content: $pl-google-full;
    }
}
.pl-google {
    &:before {
        content: $pl-google;
    }
}
.pl-google-hair {
    &:before {
        content: $pl-google-hair;
    }
}
.pl-github {
    &:before {
        content: $pl-github;
    }
}
.pl-git {
    &:before {
        content: $pl-git;
    }
}
.pl-python {
    &:before {
        content: $pl-python;
    }
}
.pl-tux {
    &:before {
        content: $pl-tux;
    }
}
.pl-wordpress {
    &:before {
        content: $pl-wordpress;
    }
}
.pl-cc {
    &:before {
        content: $pl-cc;
    }
}
.pl-bill {
    &:before {
        content: $pl-bill;
    }
}
.pl-creditcard {
    &:before {
        content: $pl-creditcard;
    }
}
.pl-wallet {
    &:before {
        content: $pl-wallet;
    }
}
.pl-cart {
    &:before {
        content: $pl-cart;
    }
}
.pl-ticket {
    &:before {
        content: $pl-ticket;
    }
}
.pl-scale {
    &:before {
        content: $pl-scale;
    }
}
.pl-quotes {
    &:before {
        content: $pl-quotes;
    }
}
.pl-paragraph {
    &:before {
        content: $pl-paragraph;
    }
}
.pl-pen {
    &:before {
        content: $pl-pen;
    }
}
.pl-writing {
    &:before {
        content: $pl-writing;
    }
}
.pl-agenda {
    &:before {
        content: $pl-agenda;
    }
}
.pl-board {
    &:before {
        content: $pl-board;
    }
}
.pl-comment-empty {
    &:before {
        content: $pl-comment-empty;
    }
}
.pl-comment {
    &:before {
        content: $pl-comment;
    }
}
.pl-file {
    &:before {
        content: $pl-file;
    }
}
.pl-text {
    &:before {
        content: $pl-text;
    }
}
.pl-zip {
    &:before {
        content: $pl-zip;
    }
}
.pl-shred {
    &:before {
        content: $pl-shred;
    }
}
.pl-shield-help {
    &:before {
        content: $pl-shield-help;
    }
}
.pl-phone {
    &:before {
        content: $pl-phone;
    }
}
.pl-headset {
    &:before {
        content: $pl-headset;
    }
}
.pl-24h {
    &:before {
        content: $pl-24h;
    }
}
.pl-lighthouse {
    &:before {
        content: $pl-lighthouse;
    }
}
.pl-buoy {
    &:before {
        content: $pl-buoy;
    }
}
.pl-plugin {
    &:before {
        content: $pl-plugin;
    }
}
.pl-toplytics {
    &:before {
        content: $pl-toplytics;
    }
}
.pl-gitium {
    &:before {
        content: $pl-gitium;
    }
}
.pl-themeperuser {
    &:before {
        content: $pl-themeperuser;
    }
}
.pl-autover {
    &:before {
        content: $pl-autover;
    }
}
.pl-protection {
    &:before {
        content: $pl-protection;
    }
}
.pl-theme {
    &:before {
        content: $pl-theme;
    }
}
.pl-mapping {
    &:before {
        content: $pl-mapping;
    }
}
.pl-utf {
    &:before {
        content: $pl-utf;
    }
}
.pl-gitfs {
    &:before {
        content: $pl-gitfs;
    }
}
.pl-Zipa {
    &:before {
        content: $pl-Zipa;
    }
}
.pl-tag {
    &:before {
        content: $pl-tag;
    }
}
.pl-silver {
    &:before {
        content: $pl-silver;
    }
}
.pl-zsync {
    &:before {
        content: $pl-zsync;
    }
}
.pl-pyolite {
    &:before {
        content: $pl-pyolite;
    }
}
.pl-presslabs {
    &:before {
        content: $pl-presslabs;
    }
}

