@font-face {
    font-family: 'Presslabs-Particles';
    src:    url('fonts/Presslabs-Particles.eot?pqw48l');
    src:    url('fonts/Presslabs-Particles.eot?pqw48l#iefix') format('embedded-opentype'),
        url('fonts/Presslabs-Particles.ttf?pqw48l') format('truetype'),
        url('fonts/Presslabs-Particles.woff?pqw48l') format('woff'),
        url('fonts/Presslabs-Particles.svg?pqw48l#Presslabs-Particles') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Presslabs-Particles' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ram:before {
    content: "\e912";
}
.icon-puzzle1:before {
    content: "\e910";
}
.icon-puzzle2:before {
    content: "\e911";
}
.icon-broadcast:before {
    content: "\e90f";
}
.icon-pingdownload:before {
    content: "\e90e";
}
.icon-instagram:before {
    content: "\e90d";
}
.icon-wordpress-full:before {
    content: "\e905";
}
.icon-wordpress-hair:before {
    content: "\e906";
}
.icon-wordpress:before {
    content: "\e907";
}
.icon-github-full:before {
    content: "\e909";
}
.icon-z3:before {
    content: "\e903";
}
.icon-github:before {
    content: "\e904";
}
.icon-github-hair:before {
    content: "\e908";
}
.icon-play:before {
    content: "\e90a";
}
.icon-eu-flag:before {
    content: "\e90b";
}
.icon-eu:before {
    content: "\e90c";
}
.icon-24h:before {
    content: "\e6c0";
}
.icon-Zipa:before {
    content: "\e6cd";
}
.icon-admin:before {
    content: "\e63f";
}
.icon-agenda:before {
    content: "\e6b5";
}
.icon-america:before {
    content: "\e680";
}
.icon-antenna:before {
    content: "\e67b";
}
.icon-arrow:before {
    content: "\e611";
}
.icon-arrow-down:before {
    content: "\e604";
}
.icon-arrow-left:before {
    content: "\e606";
}
.icon-arrow-ne:before {
    content: "\e601";
}
.icon-arrow-nw:before {
    content: "\e607";
}
.icon-arrow-right:before {
    content: "\e602";
}
.icon-arrow-se:before {
    content: "\e603";
}
.icon-arrow-sw:before {
    content: "\e605";
}
.icon-arrow-up:before {
    content: "\e600";
}
.icon-asia:before {
    content: "\e681";
}
.icon-at:before {
    content: "\e683";
}
.icon-autover:before {
    content: "\e6c7";
}
.icon-bill:before {
    content: "\e6ab";
}
.icon-bin:before {
    content: "\e65b";
}
.icon-board:before {
    content: "\e6b6";
}
.icon-book:before {
    content: "\e644";
}
.icon-bookmark:before {
    content: "\e645";
}
.icon-boss:before {
    content: "\e63e";
}
.icon-box:before {
    content: "\e66e";
}
.icon-branch:before {
    content: "\e690";
}
.icon-breifcase:before {
    content: "\e657";
}
.icon-bug:before {
    content: "\e68c";
}
.icon-bulb:before {
    content: "\e661";
}
.icon-bullseye:before {
    content: "\e634";
}
.icon-buoy:before {
    content: "\e6c2";
}
.icon-calculator:before {
    content: "\e620";
}
.icon-calendar:before {
    content: "\e646";
}
.icon-camera:before {
    content: "\e64f";
}
.icon-card:before {
    content: "\e686";
}
.icon-caret:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e6ae";
}
.icon-caution:before {
    content: "\e637";
}
.icon-cc:before {
    content: "\e6aa";
}
.icon-cd:before {
    content: "\e653";
}
.icon-cdn:before {
    content: "\e695";
}
.icon-check:before {
    content: "\e639";
}
.icon-chip:before {
    content: "\e698";
}
.icon-cicle:before {
    content: "\e60b";
}
.icon-clone:before {
    content: "\e68e";
}
.icon-close:before {
    content: "\e901";
}
.icon-cloud:before {
    content: "\e65f";
}
.icon-code:before {
    content: "\e689";
}
.icon-code2:before {
    content: "\e68a";
}
.icon-code3:before {
    content: "\e68b";
}
.icon-coffee:before {
    content: "\e655";
}
.icon-comment:before {
    content: "\e6b8";
}
.icon-comment-empty:before {
    content: "\e6b7";
}
.icon-concentric:before {
    content: "\e609";
}
.icon-contract:before {
    content: "\e60c";
}
.icon-creditcard:before {
    content: "\e6ac";
}
.icon-curve:before {
    content: "\e621";
}
.icon-denied:before {
    content: "\e63a";
}
.icon-deny:before {
    content: "\e62c";
}
.icon-departing:before {
    content: "\e60f";
}
.icon-diamond:before {
    content: "\e65e";
}
.icon-disk:before {
    content: "\e65c";
}
.icon-disk2:before {
    content: "\e65d";
}
.icon-dislike:before {
    content: "\e69b";
}
.icon-divide:before {
    content: "\e61e";
}
.icon-down:before {
    content: "\e613";
}
.icon-download:before {
    content: "\e626";
}
.icon-download2:before {
    content: "\e627";
}
.icon-eccentric:before {
    content: "\e60a";
}
.icon-edit:before {
    content: "\e62d";
}
.icon-ehternet-socket:before {
    content: "\e64a";
}
.icon-employee:before {
    content: "\e63d";
}
.icon-envelope:before {
    content: "\e684";
}
.icon-envelope-open:before {
    content: "\e685";
}
.icon-equal:before {
    content: "\e61f";
}
.icon-ethernet-plug:before {
    content: "\e649";
}
.icon-europe:before {
    content: "\e682";
}
.icon-exclamation:before {
    content: "\e902";
}
.icon-expand:before {
    content: "\e60d";
}
.icon-facebook:before {
    content: "\e69d";
}
.icon-facebook-full:before {
    content: "\e69c";
}
.icon-facebook-hair:before {
    content: "\e69e";
}
.icon-file:before {
    content: "\e6b9";
}
.icon-folder:before {
    content: "\e66d";
}
.icon-forbidden:before {
    content: "\e635";
}
.icon-forward:before {
    content: "\e617";
}
.icon-gauge:before {
    content: "\e662";
}
.icon-gears:before {
    content: "\e671";
}
.icon-git:before {
    content: "\e6a6";
}
.icon-gitfs:before {
    content: "\e6cc";
}
.icon-github-logo:before {
    content: "\e6a5";
}
.icon-gitium:before {
    content: "\e6c5";
}
.icon-glasses:before {
    content: "\e654";
}
.icon-globe:before {
    content: "\e67f";
}
.icon-globestand:before {
    content: "\e67e";
}
.icon-google:before {
    content: "\e6a3";
}
.icon-google-full:before {
    content: "\e6a2";
}
.icon-google-hair:before {
    content: "\e6a4";
}
.icon-graphic:before {
    content: "\e622";
}
.icon-headset:before {
    content: "\e6bf";
}
.icon-heart:before {
    content: "\e640";
}
.icon-heart-full:before {
    content: "\e641";
}
.icon-home:before {
    content: "\e663";
}
.icon-image:before {
    content: "\e64e";
}
.icon-impulse:before {
    content: "\e664";
}
.icon-info:before {
    content: "\e636";
}
.icon-key:before {
    content: "\e659";
}
.icon-keyboard:before {
    content: "\e665";
}
.icon-laptop:before {
    content: "\e667";
}
.icon-layout:before {
    content: "\e660";
}
.icon-left:before {
    content: "\e614";
}
.icon-lighthouse:before {
    content: "\e6c1";
}
.icon-like:before {
    content: "\e69a";
}
.icon-link:before {
    content: "\e687";
}
.icon-link-broken:before {
    content: "\e688";
}
.icon-lock:before {
    content: "\e66a";
}
.icon-lock-open:before {
    content: "\e66b";
}
.icon-login:before {
    content: "\e628";
}
.icon-logout:before {
    content: "\e629";
}
.icon-look:before {
    content: "\e62f";
}
.icon-map:before {
    content: "\e658";
}
.icon-mapping:before {
    content: "\e6ca";
}
.icon-mark:before {
    content: "\e62a";
}
.icon-media:before {
    content: "\e64d";
}
.icon-meeting:before {
    content: "\e60e";
}
.icon-merge:before {
    content: "\e68f";
}
.icon-migration:before {
    content: "\e66c";
}
.icon-minus:before {
    content: "\e61c";
}
.icon-mobile:before {
    content: "\e668";
}
.icon-mouse:before {
    content: "\e666";
}
.icon-music:before {
    content: "\e650";
}
.icon-net:before {
    content: "\e693";
}
.icon-network:before {
    content: "\e67c";
}
.icon-paragraph:before {
    content: "\e6b2";
}
.icon-pause:before {
    content: "\e618";
}
.icon-pen:before {
    content: "\e6b3";
}
.icon-phone:before {
    content: "\e6be";
}
.icon-phones:before {
    content: "\e651";
}
.icon-pie:before {
    content: "\e623";
}
.icon-place:before {
    content: "\e699";
}
.icon-plugin:before {
    content: "\e6c3";
}
.icon-plus:before {
    content: "\e61b";
}
.icon-pointer:before {
    content: "\e610";
}
.icon-power-plug:before {
    content: "\e647";
}
.icon-power-socket:before {
    content: "\e648";
}
.icon-presslabs:before {
    content: "\e6d2";
}
.icon-protection:before {
    content: "\e6c8";
}
.icon-pull:before {
    content: "\e692";
}
.icon-push:before {
    content: "\e691";
}
.icon-pyolite:before {
    content: "\e6d1";
}
.icon-python:before {
    content: "\e6a7";
}
.icon-question:before {
    content: "\e638";
}
.icon-quotes:before {
    content: "\e6b1";
}
.icon-rack:before {
    content: "\e697";
}
.icon-rec:before {
    content: "\e61a";
}
.icon-return:before {
    content: "\e608";
}
.icon-rewind:before {
    content: "\e616";
}
.icon-ribbon:before {
    content: "\e66f";
}
.icon-right:before {
    content: "\e612";
}
.icon-ruler:before {
    content: "\e670";
}
.icon-safe:before {
    content: "\e677";
}
.icon-scale:before {
    content: "\e6b0";
}
.icon-search:before {
    content: "\e631";
}
.icon-serving:before {
    content: "\e67d";
}
.icon-settings:before {
    content: "\e673";
}
.icon-sheep:before {
    content: "\e68d";
}
.icon-shield:before {
    content: "\e674";
}
.icon-shield-checker:before {
    content: "\e676";
}
.icon-shield-deny:before {
    content: "\e675";
}
.icon-shield-help:before {
    content: "\e6bd";
}
.icon-shirt:before {
    content: "\e65a";
}
.icon-shred:before {
    content: "\e6bc";
}
.icon-silver:before {
    content: "\e6cf";
}
.icon-speaker:before {
    content: "\e652";
}
.icon-spike:before {
    content: "\e694";
}
.icon-stack:before {
    content: "\e696";
}
.icon-star:before {
    content: "\e642";
}
.icon-star-full:before {
    content: "\e643";
}
.icon-stop:before {
    content: "\e619";
}
.icon-suitcase:before {
    content: "\e656";
}
.icon-tablet:before {
    content: "\e669";
}
.icon-tag:before {
    content: "\e6ce";
}
.icon-text:before {
    content: "\e6ba";
}
.icon-theme:before {
    content: "\e6c9";
}
.icon-themeperuser:before {
    content: "\e6c6";
}
.icon-ticket:before {
    content: "\e6af";
}
.icon-time:before {
    content: "\e630";
}
.icon-times:before {
    content: "\e61d";
}
.icon-toplytics:before {
    content: "\e6c4";
}
.icon-traffic:before {
    content: "\e678";
}
.icon-tux:before {
    content: "\e6a8";
}
.icon-twitter:before {
    content: "\e6a0";
}
.icon-twitter-full:before {
    content: "\e69f";
}
.icon-twitter-hair:before {
    content: "\e6a1";
}
.icon-up:before {
    content: "\e615";
}
.icon-upload:before {
    content: "\e624";
}
.icon-upload2:before {
    content: "\e625";
}
.icon-usb-plug:before {
    content: "\e64b";
}
.icon-usb-socket:before {
    content: "\e64c";
}
.icon-user:before {
    content: "\e63c";
}
.icon-users:before {
    content: "\e63b";
}
.icon-utf:before {
    content: "\e6cb";
}
.icon-validate:before {
    content: "\e62b";
}
.icon-wallet:before {
    content: "\e6ad";
}
.icon-watch:before {
    content: "\e679";
}
.icon-wifi:before {
    content: "\e67a";
}
.icon-wordpress-logo:before {
    content: "\e6a9";
}
.icon-wrench:before {
    content: "\e672";
}
.icon-write:before {
    content: "\e62e";
}
.icon-writing:before {
    content: "\e6b4";
}
.icon-zip:before {
    content: "\e6bb";
}
.icon-zoom-in:before {
    content: "\e632";
}
.icon-zoom-out:before {
    content: "\e633";
}
.icon-zsync:before {
    content: "\e6d0";
}

