@import "variables";

@font-face {
    font-family: 'Presslabs-Particles';
    src:    url('#{$icomoon-font-path}/Presslabs-Particles.eot?hubb84');
    src:    url('#{$icomoon-font-path}/Presslabs-Particles.eot?hubb84#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/Presslabs-Particles.ttf?hubb84') format('truetype'),
        url('#{$icomoon-font-path}/Presslabs-Particles.woff?hubb84') format('woff'),
        url('#{$icomoon-font-path}/Presslabs-Particles.svg?hubb84#Presslabs-Particles') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Presslabs-Particles' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.24h {
    &:before {
        content: $24h;
    }
}
.Zipa {
    &:before {
        content: $Zipa;
    }
}
.admin {
    &:before {
        content: $admin;
    }
}
.agenda {
    &:before {
        content: $agenda;
    }
}
.america {
    &:before {
        content: $america;
    }
}
.antenna {
    &:before {
        content: $antenna;
    }
}
.arrow {
    &:before {
        content: $arrow;
    }
}
.arrow-down {
    &:before {
        content: $arrow-down;
    }
}
.arrow-left {
    &:before {
        content: $arrow-left;
    }
}
.arrow-ne {
    &:before {
        content: $arrow-ne;
    }
}
.arrow-nw {
    &:before {
        content: $arrow-nw;
    }
}
.arrow-right {
    &:before {
        content: $arrow-right;
    }
}
.arrow-se {
    &:before {
        content: $arrow-se;
    }
}
.arrow-sw {
    &:before {
        content: $arrow-sw;
    }
}
.arrow-up {
    &:before {
        content: $arrow-up;
    }
}
.asia {
    &:before {
        content: $asia;
    }
}
.at {
    &:before {
        content: $at;
    }
}
.autover {
    &:before {
        content: $autover;
    }
}
.bill {
    &:before {
        content: $bill;
    }
}
.bin {
    &:before {
        content: $bin;
    }
}
.board {
    &:before {
        content: $board;
    }
}
.book {
    &:before {
        content: $book;
    }
}
.bookmark {
    &:before {
        content: $bookmark;
    }
}
.boss {
    &:before {
        content: $boss;
    }
}
.box {
    &:before {
        content: $box;
    }
}
.branch {
    &:before {
        content: $branch;
    }
}
.breifcase {
    &:before {
        content: $breifcase;
    }
}
.bug {
    &:before {
        content: $bug;
    }
}
.bulb {
    &:before {
        content: $bulb;
    }
}
.bullseye {
    &:before {
        content: $bullseye;
    }
}
.buoy {
    &:before {
        content: $buoy;
    }
}
.calculator {
    &:before {
        content: $calculator;
    }
}
.calendar {
    &:before {
        content: $calendar;
    }
}
.camera {
    &:before {
        content: $camera;
    }
}
.card {
    &:before {
        content: $card;
    }
}
.caret {
    &:before {
        content: $caret;
    }
}
.cart {
    &:before {
        content: $cart;
    }
}
.caution {
    &:before {
        content: $caution;
    }
}
.cc {
    &:before {
        content: $cc;
    }
}
.cd {
    &:before {
        content: $cd;
    }
}
.cdn {
    &:before {
        content: $cdn;
    }
}
.check {
    &:before {
        content: $check;
    }
}
.chip {
    &:before {
        content: $chip;
    }
}
.cicle {
    &:before {
        content: $cicle;
    }
}
.clone {
    &:before {
        content: $clone;
    }
}
.close {
    &:before {
        content: $close;
    }
}
.cloud {
    &:before {
        content: $cloud;
    }
}
.code {
    &:before {
        content: $code;
    }
}
.code2 {
    &:before {
        content: $code2;
    }
}
.code3 {
    &:before {
        content: $code3;
    }
}
.coffee {
    &:before {
        content: $coffee;
    }
}
.comment {
    &:before {
        content: $comment;
    }
}
.comment-empty {
    &:before {
        content: $comment-empty;
    }
}
.concentric {
    &:before {
        content: $concentric;
    }
}
.contract {
    &:before {
        content: $contract;
    }
}
.creditcard {
    &:before {
        content: $creditcard;
    }
}
.curve {
    &:before {
        content: $curve;
    }
}
.denied {
    &:before {
        content: $denied;
    }
}
.deny {
    &:before {
        content: $deny;
    }
}
.departing {
    &:before {
        content: $departing;
    }
}
.diamond {
    &:before {
        content: $diamond;
    }
}
.disk {
    &:before {
        content: $disk;
    }
}
.disk2 {
    &:before {
        content: $disk2;
    }
}
.dislike {
    &:before {
        content: $dislike;
    }
}
.divide {
    &:before {
        content: $divide;
    }
}
.down {
    &:before {
        content: $down;
    }
}
.download {
    &:before {
        content: $download;
    }
}
.download2 {
    &:before {
        content: $download2;
    }
}
.eccentric {
    &:before {
        content: $eccentric;
    }
}
.edit {
    &:before {
        content: $edit;
    }
}
.ehternet-socket {
    &:before {
        content: $ehternet-socket;
    }
}
.employee {
    &:before {
        content: $employee;
    }
}
.envelope {
    &:before {
        content: $envelope;
    }
}
.envelope-open {
    &:before {
        content: $envelope-open;
    }
}
.equal {
    &:before {
        content: $equal;
    }
}
.ethernet-plug {
    &:before {
        content: $ethernet-plug;
    }
}
.europe {
    &:before {
        content: $europe;
    }
}
.exclamation {
    &:before {
        content: $exclamation;
    }
}
.expand {
    &:before {
        content: $expand;
    }
}
.facebook {
    &:before {
        content: $facebook;
    }
}
.facebook-full {
    &:before {
        content: $facebook-full;
    }
}
.facebook-hair {
    &:before {
        content: $facebook-hair;
    }
}
.file {
    &:before {
        content: $file;
    }
}
.folder {
    &:before {
        content: $folder;
    }
}
.forbidden {
    &:before {
        content: $forbidden;
    }
}
.forward {
    &:before {
        content: $forward;
    }
}
.gauge {
    &:before {
        content: $gauge;
    }
}
.gears {
    &:before {
        content: $gears;
    }
}
.git {
    &:before {
        content: $git;
    }
}
.gitfs {
    &:before {
        content: $gitfs;
    }
}
.github {
    &:before {
        content: $github;
    }
}
.gitium {
    &:before {
        content: $gitium;
    }
}
.glasses {
    &:before {
        content: $glasses;
    }
}
.globe {
    &:before {
        content: $globe;
    }
}
.globestand {
    &:before {
        content: $globestand;
    }
}
.google {
    &:before {
        content: $google;
    }
}
.google-full {
    &:before {
        content: $google-full;
    }
}
.google-hair {
    &:before {
        content: $google-hair;
    }
}
.graphic {
    &:before {
        content: $graphic;
    }
}
.headset {
    &:before {
        content: $headset;
    }
}
.heart {
    &:before {
        content: $heart;
    }
}
.heart-full {
    &:before {
        content: $heart-full;
    }
}
.home {
    &:before {
        content: $home;
    }
}
.image {
    &:before {
        content: $image;
    }
}
.impulse {
    &:before {
        content: $impulse;
    }
}
.info {
    &:before {
        content: $info;
    }
}
.key {
    &:before {
        content: $key;
    }
}
.keyboard {
    &:before {
        content: $keyboard;
    }
}
.laptop {
    &:before {
        content: $laptop;
    }
}
.layout {
    &:before {
        content: $layout;
    }
}
.left {
    &:before {
        content: $left;
    }
}
.lighthouse {
    &:before {
        content: $lighthouse;
    }
}
.like {
    &:before {
        content: $like;
    }
}
.link {
    &:before {
        content: $link;
    }
}
.link-broken {
    &:before {
        content: $link-broken;
    }
}
.lock {
    &:before {
        content: $lock;
    }
}
.lock-open {
    &:before {
        content: $lock-open;
    }
}
.login {
    &:before {
        content: $login;
    }
}
.logout {
    &:before {
        content: $logout;
    }
}
.look {
    &:before {
        content: $look;
    }
}
.map {
    &:before {
        content: $map;
    }
}
.mapping {
    &:before {
        content: $mapping;
    }
}
.mark {
    &:before {
        content: $mark;
    }
}
.media {
    &:before {
        content: $media;
    }
}
.meeting {
    &:before {
        content: $meeting;
    }
}
.merge {
    &:before {
        content: $merge;
    }
}
.migration {
    &:before {
        content: $migration;
    }
}
.minus {
    &:before {
        content: $minus;
    }
}
.mobile {
    &:before {
        content: $mobile;
    }
}
.mouse {
    &:before {
        content: $mouse;
    }
}
.music {
    &:before {
        content: $music;
    }
}
.net {
    &:before {
        content: $net;
    }
}
.network {
    &:before {
        content: $network;
    }
}
.paragraph {
    &:before {
        content: $paragraph;
    }
}
.pause {
    &:before {
        content: $pause;
    }
}
.pen {
    &:before {
        content: $pen;
    }
}
.phone {
    &:before {
        content: $phone;
    }
}
.phones {
    &:before {
        content: $phones;
    }
}
.pie {
    &:before {
        content: $pie;
    }
}
.place {
    &:before {
        content: $place;
    }
}
.plugin {
    &:before {
        content: $plugin;
    }
}
.plus {
    &:before {
        content: $plus;
    }
}
.pointer {
    &:before {
        content: $pointer;
    }
}
.power-plug {
    &:before {
        content: $power-plug;
    }
}
.power-socket {
    &:before {
        content: $power-socket;
    }
}
.presslabs {
    &:before {
        content: $presslabs;
    }
}
.protection {
    &:before {
        content: $protection;
    }
}
.pull {
    &:before {
        content: $pull;
    }
}
.push {
    &:before {
        content: $push;
    }
}
.pyolite {
    &:before {
        content: $pyolite;
    }
}
.python {
    &:before {
        content: $python;
    }
}
.question {
    &:before {
        content: $question;
    }
}
.quotes {
    &:before {
        content: $quotes;
    }
}
.rack {
    &:before {
        content: $rack;
    }
}
.rec {
    &:before {
        content: $rec;
    }
}
.return {
    &:before {
        content: $return;
    }
}
.rewind {
    &:before {
        content: $rewind;
    }
}
.ribbon {
    &:before {
        content: $ribbon;
    }
}
.right {
    &:before {
        content: $right;
    }
}
.ruler {
    &:before {
        content: $ruler;
    }
}
.safe {
    &:before {
        content: $safe;
    }
}
.scale {
    &:before {
        content: $scale;
    }
}
.search {
    &:before {
        content: $search;
    }
}
.serving {
    &:before {
        content: $serving;
    }
}
.settings {
    &:before {
        content: $settings;
    }
}
.sheep {
    &:before {
        content: $sheep;
    }
}
.shield {
    &:before {
        content: $shield;
    }
}
.shield-checker {
    &:before {
        content: $shield-checker;
    }
}
.shield-deny {
    &:before {
        content: $shield-deny;
    }
}
.shield-help {
    &:before {
        content: $shield-help;
    }
}
.shirt {
    &:before {
        content: $shirt;
    }
}
.shred {
    &:before {
        content: $shred;
    }
}
.silver {
    &:before {
        content: $silver;
    }
}
.speaker {
    &:before {
        content: $speaker;
    }
}
.spike {
    &:before {
        content: $spike;
    }
}
.stack {
    &:before {
        content: $stack;
    }
}
.star {
    &:before {
        content: $star;
    }
}
.star-full {
    &:before {
        content: $star-full;
    }
}
.stop {
    &:before {
        content: $stop;
    }
}
.suitcase {
    &:before {
        content: $suitcase;
    }
}
.tablet {
    &:before {
        content: $tablet;
    }
}
.tag {
    &:before {
        content: $tag;
    }
}
.text {
    &:before {
        content: $text;
    }
}
.theme {
    &:before {
        content: $theme;
    }
}
.themeperuser {
    &:before {
        content: $themeperuser;
    }
}
.ticket {
    &:before {
        content: $ticket;
    }
}
.time {
    &:before {
        content: $time;
    }
}
.times {
    &:before {
        content: $times;
    }
}
.toplytics {
    &:before {
        content: $toplytics;
    }
}
.traffic {
    &:before {
        content: $traffic;
    }
}
.tux {
    &:before {
        content: $tux;
    }
}
.twitter {
    &:before {
        content: $twitter;
    }
}
.twitter-full {
    &:before {
        content: $twitter-full;
    }
}
.twitter-hair {
    &:before {
        content: $twitter-hair;
    }
}
.up {
    &:before {
        content: $up;
    }
}
.upload {
    &:before {
        content: $upload;
    }
}
.upload2 {
    &:before {
        content: $upload2;
    }
}
.usb-plug {
    &:before {
        content: $usb-plug;
    }
}
.usb-socket {
    &:before {
        content: $usb-socket;
    }
}
.user {
    &:before {
        content: $user;
    }
}
.users {
    &:before {
        content: $users;
    }
}
.utf {
    &:before {
        content: $utf;
    }
}
.validate {
    &:before {
        content: $validate;
    }
}
.wallet {
    &:before {
        content: $wallet;
    }
}
.watch {
    &:before {
        content: $watch;
    }
}
.wifi {
    &:before {
        content: $wifi;
    }
}
.wordpress {
    &:before {
        content: $wordpress;
    }
}
.wrench {
    &:before {
        content: $wrench;
    }
}
.write {
    &:before {
        content: $write;
    }
}
.writing {
    &:before {
        content: $writing;
    }
}
.zip {
    &:before {
        content: $zip;
    }
}
.zoom-in {
    &:before {
        content: $zoom-in;
    }
}
.zoom-out {
    &:before {
        content: $zoom-out;
    }
}
.zsync {
    &:before {
        content: $zsync;
    }
}

