$icomoon-font-path: "fonts" !default;

$24h: "\e6c0";
$Zipa: "\e6cd";
$admin: "\e63f";
$agenda: "\e6b5";
$america: "\e680";
$antenna: "\e67b";
$arrow: "\e611";
$arrow-down: "\e604";
$arrow-left: "\e606";
$arrow-ne: "\e601";
$arrow-nw: "\e607";
$arrow-right: "\e602";
$arrow-se: "\e603";
$arrow-sw: "\e605";
$arrow-up: "\e600";
$asia: "\e681";
$at: "\e683";
$autover: "\e6c7";
$bill: "\e6ab";
$bin: "\e65b";
$board: "\e6b6";
$book: "\e644";
$bookmark: "\e645";
$boss: "\e63e";
$box: "\e66e";
$branch: "\e690";
$breifcase: "\e657";
$bug: "\e68c";
$bulb: "\e661";
$bullseye: "\e634";
$buoy: "\e6c2";
$calculator: "\e620";
$calendar: "\e646";
$camera: "\e64f";
$card: "\e686";
$caret: "\e900";
$cart: "\e6ae";
$caution: "\e637";
$cc: "\e6aa";
$cd: "\e653";
$cdn: "\e695";
$check: "\e639";
$chip: "\e698";
$cicle: "\e60b";
$clone: "\e68e";
$close: "\e901";
$cloud: "\e65f";
$code: "\e689";
$code2: "\e68a";
$code3: "\e68b";
$coffee: "\e655";
$comment: "\e6b8";
$comment-empty: "\e6b7";
$concentric: "\e609";
$contract: "\e60c";
$creditcard: "\e6ac";
$curve: "\e621";
$denied: "\e63a";
$deny: "\e62c";
$departing: "\e60f";
$diamond: "\e65e";
$disk: "\e65c";
$disk2: "\e65d";
$dislike: "\e69b";
$divide: "\e61e";
$down: "\e613";
$download: "\e626";
$download2: "\e627";
$eccentric: "\e60a";
$edit: "\e62d";
$ehternet-socket: "\e64a";
$employee: "\e63d";
$envelope: "\e684";
$envelope-open: "\e685";
$equal: "\e61f";
$ethernet-plug: "\e649";
$europe: "\e682";
$exclamation: "\e902";
$expand: "\e60d";
$facebook: "\e69d";
$facebook-full: "\e69c";
$facebook-hair: "\e69e";
$file: "\e6b9";
$folder: "\e66d";
$forbidden: "\e635";
$forward: "\e617";
$gauge: "\e662";
$gears: "\e671";
$git: "\e6a6";
$gitfs: "\e6cc";
$github: "\e6a5";
$gitium: "\e6c5";
$glasses: "\e654";
$globe: "\e67f";
$globestand: "\e67e";
$google: "\e6a3";
$google-full: "\e6a2";
$google-hair: "\e6a4";
$graphic: "\e622";
$headset: "\e6bf";
$heart: "\e640";
$heart-full: "\e641";
$home: "\e663";
$image: "\e64e";
$impulse: "\e664";
$info: "\e636";
$key: "\e659";
$keyboard: "\e665";
$laptop: "\e667";
$layout: "\e660";
$left: "\e614";
$lighthouse: "\e6c1";
$like: "\e69a";
$link: "\e687";
$link-broken: "\e688";
$lock: "\e66a";
$lock-open: "\e66b";
$login: "\e628";
$logout: "\e629";
$look: "\e62f";
$map: "\e658";
$mapping: "\e6ca";
$mark: "\e62a";
$media: "\e64d";
$meeting: "\e60e";
$merge: "\e68f";
$migration: "\e66c";
$minus: "\e61c";
$mobile: "\e668";
$mouse: "\e666";
$music: "\e650";
$net: "\e693";
$network: "\e67c";
$paragraph: "\e6b2";
$pause: "\e618";
$pen: "\e6b3";
$phone: "\e6be";
$phones: "\e651";
$pie: "\e623";
$place: "\e699";
$plugin: "\e6c3";
$plus: "\e61b";
$pointer: "\e610";
$power-plug: "\e647";
$power-socket: "\e648";
$presslabs: "\e6d2";
$protection: "\e6c8";
$pull: "\e692";
$push: "\e691";
$pyolite: "\e6d1";
$python: "\e6a7";
$question: "\e638";
$quotes: "\e6b1";
$rack: "\e697";
$rec: "\e61a";
$return: "\e608";
$rewind: "\e616";
$ribbon: "\e66f";
$right: "\e612";
$ruler: "\e670";
$safe: "\e677";
$scale: "\e6b0";
$search: "\e631";
$serving: "\e67d";
$settings: "\e673";
$sheep: "\e68d";
$shield: "\e674";
$shield-checker: "\e676";
$shield-deny: "\e675";
$shield-help: "\e6bd";
$shirt: "\e65a";
$shred: "\e6bc";
$silver: "\e6cf";
$speaker: "\e652";
$spike: "\e694";
$stack: "\e696";
$star: "\e642";
$star-full: "\e643";
$stop: "\e619";
$suitcase: "\e656";
$tablet: "\e669";
$tag: "\e6ce";
$text: "\e6ba";
$theme: "\e6c9";
$themeperuser: "\e6c6";
$ticket: "\e6af";
$time: "\e630";
$times: "\e61d";
$toplytics: "\e6c4";
$traffic: "\e678";
$tux: "\e6a8";
$twitter: "\e6a0";
$twitter-full: "\e69f";
$twitter-hair: "\e6a1";
$up: "\e615";
$upload: "\e624";
$upload2: "\e625";
$usb-plug: "\e64b";
$usb-socket: "\e64c";
$user: "\e63c";
$users: "\e63b";
$utf: "\e6cb";
$validate: "\e62b";
$wallet: "\e6ad";
$watch: "\e679";
$wifi: "\e67a";
$wordpress: "\e6a9";
$wrench: "\e672";
$write: "\e62e";
$writing: "\e6b4";
$zip: "\e6bb";
$zoom-in: "\e632";
$zoom-out: "\e633";
$zsync: "\e6d0";

