$pl-arrow-up: "\e600";
$pl-arrow-ne: "\e601";
$pl-arrow-right: "\e602";
$pl-arrow-se: "\e603";
$pl-arrow-down: "\e604";
$pl-arrow-sw: "\e605";
$pl-arrow-left: "\e606";
$pl-arrow-nw: "\e607";
$pl-return: "\e608";
$pl-concentric: "\e609";
$pl-eccentric: "\e60a";
$pl-cicle: "\e60b";
$pl-contract: "\e60c";
$pl-expand: "\e60d";
$pl-meeting: "\e60e";
$pl-departing: "\e60f";
$pl-pointer: "\e610";
$pl-arrow: "\e611";
$pl-right: "\e612";
$pl-down: "\e613";
$pl-left: "\e614";
$pl-up: "\e615";
$pl-rewind: "\e616";
$pl-forward: "\e617";
$pl-pause: "\e618";
$pl-stop: "\e619";
$pl-rec: "\e61a";
$pl-plus: "\e61b";
$pl-minus: "\e61c";
$pl-times: "\e61d";
$pl-divide: "\e61e";
$pl-equal: "\e61f";
$pl-calculator: "\e620";
$pl-curve: "\e621";
$pl-graphic: "\e622";
$pl-pie: "\e623";
$pl-upload: "\e624";
$pl-upload2: "\e625";
$pl-download: "\e626";
$pl-download2: "\e627";
$pl-login: "\e628";
$pl-logout: "\e629";
$pl-mark: "\e62a";
$pl-validate: "\e62b";
$pl-deny: "\e62c";
$pl-edit: "\e62d";
$pl-write: "\e62e";
$pl-look: "\e62f";
$pl-time: "\e630";
$pl-search: "\e631";
$pl-zoom-in: "\e632";
$pl-zoom-out: "\e633";
$pl-bullseye: "\e634";
$pl-forbidden: "\e635";
$pl-info: "\e636";
$pl-caution: "\e637";
$pl-question: "\e638";
$pl-check: "\e639";
$pl-denied: "\e63a";
$pl-users: "\e63b";
$pl-user: "\e63c";
$pl-employee: "\e63d";
$pl-boss: "\e63e";
$pl-admin: "\e63f";
$pl-heart: "\e640";
$pl-heart-full: "\e641";
$pl-star: "\e642";
$pl-star-full: "\e643";
$pl-book: "\e644";
$pl-bookmark: "\e645";
$pl-calendar: "\e646";
$pl-power-plug: "\e647";
$pl-power-socket: "\e648";
$pl-ethernet-plug: "\e649";
$pl-ehternet-socket: "\e64a";
$pl-usb-plug: "\e64b";
$pl-usb-socket: "\e64c";
$pl-media: "\e64d";
$pl-image: "\e64e";
$pl-camera: "\e64f";
$pl-music: "\e650";
$pl-phones: "\e651";
$pl-speaker: "\e652";
$pl-cd: "\e653";
$pl-glasses: "\e654";
$pl-coffee: "\e655";
$pl-suitcase: "\e656";
$pl-breifcase: "\e657";
$pl-map: "\e658";
$pl-key: "\e659";
$pl-shirt: "\e65a";
$pl-bin: "\e65b";
$pl-disk: "\e65c";
$pl-disk2: "\e65d";
$pl-diamond: "\e65e";
$pl-cloud: "\e65f";
$pl-layout: "\e660";
$pl-bulb: "\e661";
$pl-gauge: "\e662";
$pl-home: "\e663";
$pl-impulse: "\e664";
$pl-keyboard: "\e665";
$pl-mouse: "\e666";
$pl-laptop: "\e667";
$pl-mobile: "\e668";
$pl-tablet: "\e669";
$pl-lock: "\e66a";
$pl-lock-open: "\e66b";
$pl-migration: "\e66c";
$pl-folder: "\e66d";
$pl-box: "\e66e";
$pl-ribbon: "\e66f";
$pl-ruler: "\e670";
$pl-gears: "\e671";
$pl-wrench: "\e672";
$pl-settings: "\e673";
$pl-shield: "\e674";
$pl-shield-deny: "\e675";
$pl-shield-checker: "\e676";
$pl-safe: "\e677";
$pl-traffic: "\e678";
$pl-watch: "\e679";
$pl-wifi: "\e67a";
$pl-antenna: "\e67b";
$pl-network: "\e67c";
$pl-serving: "\e67d";
$pl-globestand: "\e67e";
$pl-globe: "\e67f";
$pl-america: "\e680";
$pl-asia: "\e681";
$pl-europe: "\e682";
$pl-at: "\e683";
$pl-envelope: "\e684";
$pl-envelope-open: "\e685";
$pl-card: "\e686";
$pl-link: "\e687";
$pl-link-broken: "\e688";
$pl-code: "\e689";
$pl-code2: "\e68a";
$pl-code3: "\e68b";
$pl-bug: "\e68c";
$pl-sheep: "\e68d";
$pl-clone: "\e68e";
$pl-merge: "\e68f";
$pl-branch: "\e690";
$pl-push: "\e691";
$pl-pull: "\e692";
$pl-net: "\e693";
$pl-spike: "\e694";
$pl-cdn: "\e695";
$pl-stack: "\e696";
$pl-rack: "\e697";
$pl-chip: "\e698";
$pl-place: "\e699";
$pl-like: "\e69a";
$pl-dislike: "\e69b";
$pl-facebook-full: "\e69c";
$pl-facebook: "\e69d";
$pl-facebook-hair: "\e69e";
$pl-twitter-full: "\e69f";
$pl-twitter: "\e6a0";
$pl-twitter-hair: "\e6a1";
$pl-google-full: "\e6a2";
$pl-google: "\e6a3";
$pl-google-hair: "\e6a4";
$pl-github: "\e6a5";
$pl-git: "\e6a6";
$pl-python: "\e6a7";
$pl-tux: "\e6a8";
$pl-wordpress: "\e6a9";
$pl-cc: "\e6aa";
$pl-bill: "\e6ab";
$pl-creditcard: "\e6ac";
$pl-wallet: "\e6ad";
$pl-cart: "\e6ae";
$pl-ticket: "\e6af";
$pl-scale: "\e6b0";
$pl-quotes: "\e6b1";
$pl-paragraph: "\e6b2";
$pl-pen: "\e6b3";
$pl-writing: "\e6b4";
$pl-agenda: "\e6b5";
$pl-board: "\e6b6";
$pl-comment-empty: "\e6b7";
$pl-comment: "\e6b8";
$pl-file: "\e6b9";
$pl-text: "\e6ba";
$pl-zip: "\e6bb";
$pl-shred: "\e6bc";
$pl-shield-help: "\e6bd";
$pl-phone: "\e6be";
$pl-headset: "\e6bf";
$pl-24h: "\e6c0";
$pl-lighthouse: "\e6c1";
$pl-buoy: "\e6c2";
$pl-plugin: "\e6c3";
$pl-toplytics: "\e6c4";
$pl-gitium: "\e6c5";
$pl-themeperuser: "\e6c6";
$pl-autover: "\e6c7";
$pl-protection: "\e6c8";
$pl-theme: "\e6c9";
$pl-mapping: "\e6ca";
$pl-utf: "\e6cb";
$pl-gitfs: "\e6cc";
$pl-Zipa: "\e6cd";
$pl-tag: "\e6ce";
$pl-silver: "\e6cf";
$pl-zsync: "\e6d0";
$pl-pyolite: "\e6d1";
$pl-presslabs: "\e6d2";
