$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e948";
$icon-github: "\e949";
$icon-google-plus: "\e94a";
$icon-linkedin: "\e94b";
$icon-twitter: "\e94c";
$icon-instagram: "\e90d";
$icon-wordpress: "\e6a9";
$icon-range: "\e946";
$icon-bucket: "\e947";
$icon-burger: "\e945";
$icon-pay: "\e942";
$icon-bank: "\e943";
$icon-wire: "\e944";
$icon-power: "\e941";
$icon-paypal: "\e940";
$icon-ratio: "\e93d";
$icon-hour: "\e93e";
$icon-day: "\e93f";
$icon-elipsis: "\e91f";
$icon-battery-empty: "\e920";
$icon-battery-full: "\e921";
$icon-battery: "\e922";
$icon-bolt: "\e923";
$icon-cino: "\e924";
$icon-codebar: "\e925";
$icon-magnet: "\e928";
$icon-ok: "\e929";
$icon-orient: "\e92a";
$icon-print: "\e92b";
$icon-umbrella: "\e92c";
$icon-vector: "\e92d";
$icon-superadmin: "\e927";
$icon-admin: "\e91e";
$icon-dev: "\e926";
$icon-add: "\e91a";
$icon-add-hair: "\e91b";
$icon-backup: "\e91c";
$icon-carrot: "\e91d";
$icon-code-sign: "\e935";
$icon-certificate: "\e919";
$icon-aid: "\e918";
$icon-alarm: "\e917";
$icon-sd: "\e913";
$icon-compass: "\e914";
$icon-lego: "\e915";
$icon-atom: "\e916";
$icon-ram: "\e912";
$icon-puzzle: "\e910";
$icon-puzzle_alt: "\e911";
$icon-broadcast: "\e90f";
$icon-pingdownload: "\e90e";
$icon-zthree: "\e903";
$icon-play: "\e90a";
$icon-eu-flag: "\e90b";
$icon-eu: "\e90c";
$icon-twofour: "\e6c0";
$icon-zipa: "\e6cd";
$icon-administrator: "\e63f";
$icon-agenda: "\e6b5";
$icon-america: "\e680";
$icon-antenna: "\e67b";
$icon-arrow: "\e611";
$icon-arrow-alt-down: "\e92e";
$icon-arrow-alt-left: "\e92f";
$icon-arrow-alt-ne: "\e930";
$icon-arrow-alt-nw: "\e931";
$icon-arrow-alt-right: "\e932";
$icon-arrow-alt-se: "\e933";
$icon-arrow-alt-sw: "\e934";
$icon-arrow-alt-up: "\e936";
$icon-arrow-down: "\e604";
$icon-arrow-left: "\e606";
$icon-arrow-ne: "\e601";
$icon-arrow-nw: "\e607";
$icon-arrow-right: "\e602";
$icon-arrow-se: "\e603";
$icon-arrow-sw: "\e605";
$icon-arrow-up: "\e600";
$icon-lesser: "\e937";
$icon-greater: "\e938";
$icon-circumflex: "\e939";
$icon-breve: "\e93a";
$icon-caret: "\e93b";
$icon-caret-full: "\e93c";
$icon-asia: "\e681";
$icon-at: "\e683";
$icon-autover: "\e6c7";
$icon-bill: "\e6ab";
$icon-bin: "\e65b";
$icon-board: "\e6b6";
$icon-book: "\e644";
$icon-bookmark: "\e645";
$icon-boss: "\e63e";
$icon-box: "\e66e";
$icon-branch: "\e690";
$icon-breifcase: "\e657";
$icon-bug: "\e68c";
$icon-bulb: "\e661";
$icon-bullseye: "\e634";
$icon-buoy: "\e6c2";
$icon-calculator: "\e620";
$icon-calendar: "\e646";
$icon-camera: "\e64f";
$icon-card: "\e686";
$icon-caret-alt: "\e900";
$icon-cart: "\e6ae";
$icon-caution: "\e637";
$icon-cc: "\e6aa";
$icon-cd: "\e653";
$icon-cdn: "\e695";
$icon-check: "\e639";
$icon-chip: "\e698";
$icon-cicle: "\e60b";
$icon-clone: "\e68e";
$icon-close: "\e901";
$icon-cloud: "\e65f";
$icon-code: "\e689";
$icon-code-hash: "\e68a";
$icon-code-minor: "\e68b";
$icon-coffee: "\e655";
$icon-comment: "\e6b8";
$icon-comment-empty: "\e6b7";
$icon-concentric: "\e609";
$icon-group: "\e60c";
$icon-creditcard: "\e6ac";
$icon-curve: "\e621";
$icon-denied: "\e63a";
$icon-deny: "\e62c";
$icon-departing: "\e60f";
$icon-diamond: "\e65e";
$icon-disk: "\e65c";
$icon-disk-alt: "\e65d";
$icon-dislike: "\e69b";
$icon-divide: "\e61e";
$icon-down: "\e613";
$icon-download: "\e626";
$icon-download-alt: "\e627";
$icon-eccentric: "\e60a";
$icon-edit: "\e62d";
$icon-ehternet-socket: "\e64a";
$icon-employee: "\e63d";
$icon-envelope: "\e684";
$icon-envelope-open: "\e685";
$icon-equal: "\e61f";
$icon-ethernet-plug: "\e649";
$icon-europe: "\e682";
$icon-exclamation: "\e902";
$icon-expand: "\e60d";
$icon-file: "\e6b9";
$icon-folder: "\e66d";
$icon-forbidden: "\e635";
$icon-forward: "\e617";
$icon-gauge: "\e662";
$icon-gears: "\e671";
$icon-git: "\e6a6";
$icon-gitfs: "\e6cc";
$icon-gitium: "\e6c5";
$icon-glasses: "\e654";
$icon-globe: "\e67f";
$icon-globestand: "\e67e";
$icon-graphic: "\e622";
$icon-headset: "\e6bf";
$icon-heart: "\e640";
$icon-heart-full: "\e641";
$icon-home: "\e663";
$icon-image: "\e64e";
$icon-impulse: "\e664";
$icon-info: "\e636";
$icon-key: "\e659";
$icon-keyboard: "\e665";
$icon-laptop: "\e667";
$icon-layout: "\e660";
$icon-left: "\e614";
$icon-lighthouse: "\e6c1";
$icon-like: "\e69a";
$icon-link: "\e687";
$icon-link-broken: "\e688";
$icon-lock: "\e66a";
$icon-lock-open: "\e66b";
$icon-login: "\e628";
$icon-logout: "\e629";
$icon-look: "\e62f";
$icon-map: "\e658";
$icon-image-mapping: "\e6ca";
$icon-mark: "\e62a";
$icon-media: "\e64d";
$icon-meeting: "\e60e";
$icon-merge: "\e68f";
$icon-migration: "\e66c";
$icon-minus: "\e61c";
$icon-mobile: "\e668";
$icon-mouse: "\e666";
$icon-music: "\e650";
$icon-net: "\e693";
$icon-network: "\e67c";
$icon-paragraph: "\e6b2";
$icon-pause: "\e618";
$icon-pen: "\e6b3";
$icon-phone: "\e6be";
$icon-phones: "\e651";
$icon-pie: "\e623";
$icon-place: "\e699";
$icon-plugin: "\e6c3";
$icon-plus: "\e61b";
$icon-pointer: "\e610";
$icon-power-plug: "\e647";
$icon-power-socket: "\e648";
$icon-presslabs: "\e6d2";
$icon-site-protection: "\e6c8";
$icon-pull: "\e692";
$icon-push: "\e691";
$icon-pyolite: "\e6d1";
$icon-python: "\e6a7";
$icon-question: "\e638";
$icon-quotes: "\e6b1";
$icon-rack: "\e697";
$icon-rec: "\e61a";
$icon-return: "\e608";
$icon-rewind: "\e616";
$icon-ribbon: "\e66f";
$icon-right: "\e612";
$icon-ruler: "\e670";
$icon-safe: "\e677";
$icon-scale: "\e6b0";
$icon-search: "\e631";
$icon-serving: "\e67d";
$icon-settings: "\e673";
$icon-sheep: "\e68d";
$icon-shield: "\e674";
$icon-shield-checker: "\e676";
$icon-shield-deny: "\e675";
$icon-shield-help: "\e6bd";
$icon-shirt: "\e65a";
$icon-shred: "\e6bc";
$icon-silver: "\e6cf";
$icon-speaker: "\e652";
$icon-spike: "\e694";
$icon-stack: "\e696";
$icon-star: "\e642";
$icon-star-full: "\e643";
$icon-stop: "\e619";
$icon-suitcase: "\e656";
$icon-tablet: "\e669";
$icon-tag: "\e6ce";
$icon-text: "\e6ba";
$icon-mobile-theme: "\e6c9";
$icon-themeperuser: "\e6c6";
$icon-ticket: "\e6af";
$icon-time: "\e630";
$icon-times: "\e61d";
$icon-toplytics: "\e6c4";
$icon-traffic: "\e678";
$icon-tux: "\e6a8";
$icon-up: "\e615";
$icon-upload: "\e624";
$icon-upload-alt: "\e625";
$icon-usb-plug: "\e64b";
$icon-usb-socket: "\e64c";
$icon-user: "\e63c";
$icon-users: "\e63b";
$icon-utf: "\e6cb";
$icon-validate: "\e62b";
$icon-wallet: "\e6ad";
$icon-watch: "\e679";
$icon-wifi: "\e67a";
$icon-wrench: "\e672";
$icon-write: "\e62e";
$icon-writing: "\e6b4";
$icon-zip: "\e6bb";
$icon-zoom-in: "\e632";
$icon-zoom-out: "\e633";
$icon-zsync: "\e6d0";
$icon-contract: "\e904";

