$particles-font-path: "../dist/fonts/" !default;
@import "../dist/style/particles";
@import "./components/variables";
@import "./components/colors";

body {
  background: #F2F2F2;
  margin: 0;
  position: relative;
}
