<% if (stylesheet === 'scss') { %><% if (fontPathVariables && stylesheet !== 'css') { %><%= fontPathVariable %><% } %>
@font-face {
	font-family: "<%= fontFamilyName %>";
	<% if (fontSrc1) { %>src: <%= fontSrc1 %>;<% } %>
	src: <%= fontSrc2 %>;
	font-weight: normal;
	font-style: normal;
}

<% if (baseStyles) { %>
%<%= baseClass %>-base {
	font-family: "<%= fontFamilyName %>";
	display: inline-block;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%<%= baseClass %> {
	&:before {
		@extend %<%= baseClass %>-base;
	}
}
<% } %>

@mixin icon($particle) {
  $code: map-get($particles, $particle);
	&:before {
		content: unquote('\'\\#{ $code }\'');
		/* content: "#{ $code }"; */
	}
}

@mixin particle($particle) {
	@extend %<%= baseClass %>;
	@include icon($particle);
}

// Map of icon name to codepoint
$particles: (<% _.forEach(glyphs, function(glyph, index) { %>
	${ glyphs[index] }: "${ glyphs[index] }",<%
	}); %>
);

<% } %><% if (stylesheet === 'css') { %>
@font-face {
	font-family: "<%= fontFamilyName %>";
	<% if (fontSrc1) { %>src:<%= fontSrc1 %>;<% } %>
	src: <%= fontSrc2 %>;
	font-weight: normal;
	font-style: normal;
}

<% if (baseStyles) { %>.<%= baseClass %> {
	font-family: "<%= fontFamilyName %>";
	display: inline-block;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
<% } %>

<% if (iconsStyles) { %>/* Icons */<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
.<%= baseClass %>.<%= glyphs[glyphIdx] %>:before {
	content: "<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>";
}<% } } %>

<% } %>
